<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitch Feature Suite</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="icon" href="/twitch.png">
  </head>
<body class="head2">
  <br><br><br>
  <div class="search-container">
      <img class="icon-3" src="/twitch.png"/>
      <a href="/">
      <h2>twitch feature suite</h2>
    </a>
  </div>
  <br>
  <br>
  <div class="search-container">
    <h2>About</h2>
  </div>
  <div class="search-container">
    <div class="button-container">
      <a href="#" id="button-extension" class="button button-extension">Extension</a>
      <div class="button-divider"></div>
      <a href="#" id="button-webpage" class="button button-webpage">Webpage</a>
    </div>
  </div>
  <br>
  <div class="head3">
    <br><br>
    <div id="webpage-info" style="display: none;">
      <div class="info-div2">
      <!-- webpage information here -->
      <p>When a user makes a search using the extension, the query parameters and the resulting chat logs are stored on the server.
         This data is then made available on the webpage for the user to view and analyze.<br>For example, suppose a user is interested in 
         tracking the usage of a specific emote in a popular Twitch channel. The user can use the extension to search for the emote in
         the chat logs of that channel, and the resulting data will be displayed on the webpage. <br>The data will show the frequency of
         he emote's usage in the chat, as well as the context in which it was used, such as during specific moments of a live stream.
        </p>
      </div>
      <div class="container-right2"><img src="webpage.png"/></div>
      <div class="head2" style="margin-top: -100px;margin-bottom: -100px;padding-top: 16px"><br><br><br><br><br><br><br><br></div>
    </div>
    <div id="extension-info">
      <!-- extension information here -->
      <div class="container"><img src="aboutimage.png"/></div>
      <div class="info-div">
      <p>The Twitch Chat Log Search extension is designed to make it easier for users to find specific moments in Twitch videos by searching
         through the chat logs.<br> For example, if a user is trying to find a specific moment during a Twitch stream, they can use the extension 
         to search for keywords in the chat logs. The extension will  then present the user with the relevant chat logs and timestamps, allowing
          them to quickly jump to the exact moment they were looking for.</p>
      </div>
      <div class="head2" style="margin-top: -100px;margin-bottom: -100px;padding-top: 16px">
      <div class="container-right head2">
        <h4 style="margin-bottom: 10px;">Browser Extensions</h4>
      </div>
      <div class="container-right head2">
        <ul style="padding: 10px;">
          <li><a class="link-text" href="https://microsoftedge.microsoft.com/addons/detail/searchttv-features-for-/fecmdkhdmjoijceicjmiokkaikmbhifg">Microsoft Edge Add-on</a></li><br>
          <li><a class="link-text" href="https://addons.mozilla.org/en-US/firefox/addon/twitch-features/">Firefox Add-on</a></li><br>
          <li><a class="link-text" href="https://chrome.google.com/webstore/detail/twitch-features/coafbcmondefhgpmfmojieehnbhnadjk">Chrome Extension</a></li>
          <li><a class="link-text" href="https://addons.opera.com/en/search/?query=twitch+features">Opera Add-on</a></li><br>
        </ul>
      </div>
    </div><br><br><br>
    </div>
    <br><br>
  </div>
  <br><br>
  <div class="search-container">
    <h3>Website Owner?</h3>
  </div>
  <div class="search-container"><p>If you found this useful link to us:</p></div>
  <div class="search-container">
    <div class="code-block">
        <pre>
          <button class="button" onclick="copyToClipboard()">
            <code>
              &lt;a href="https://example.com"&gt;My Website&lt;/a&gt;
            </code>
          </button>
        </pre>
    </div>
  </div>
  <script src="/about.js"></script>
</body>
</html>