<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitch Feature Suite</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
  </head>
<body class="head2">
  <br><br><br>
  <div class="search-container">
    <img class="icon-3" src="/twitch.png"/>
    <h2>twitch feature suite</h2>
  </div>
  <br>
  <br>
  <div class="search-container">
    <h2>About</h2>
  </div>
  <div class="search-container">
    <div class="button-container">
      <a href="#" id="button-extension" class="button button-extension">Extension</a>
      <div class="button-divider"></div>
      <a href="#" id="button-webpage" class="button button-webpage">Webpage</a>
    </div>
  </div>
  <br>
  <div class="head3">
    <br><br>
    <div id="webpage-info" style="display: none;">
      <!-- webpage information here -->
      <p>image and explanation</p>
    </div>
    <div id="extension-info">
      <!-- extension information here -->
      <div class="search-container">
        <h4>Browser Extensions</h4>
      </div>
      <div class="search-container">
        <ul>
          <li><a href="#">Opera Add-on</a></li>
          <li><a href="#">Microsoft Edge Add-on</a></li>
          <li><a href="#">Firefox Add-on</a></li>
          <li><a href="#">Chrome Extension</a></li>
        </ul>
      </div>
    </div>
    <br><br>
  </div>
  <br><br>
  <div class="search-container">
    <h3>Website Owner?</h3>
  </div>
  <div class="search-container"><p>If you found this useful link to us:</p></div>
  <div class="search-container">
    <div class="code-block">
        <pre>
          <button class="button" onclick="copyToClipboard()">
            <code>
              &lt;a href="https://example.com"&gt;My Website&lt;/a&gt;
            </code>
          </button>
        </pre>
    </div>
  </div>
  <script src="/about.js"></script>
</body>
</html>