@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head{
  background-color: #495466;
}
.head.dark-mode{
  background-color: #c7c7c7;
}
.head2{
  background-color: #242931;
}
.head3{
  background-color: #39414E;
}
.code-block {
  text-align: left;
  display: block;
  padding: 0;
  margin: 0;
  background-color: #f6f8fa;
  border: 1px solid #d1d5da;
  border-radius: 6px;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}
pre {
  margin: 0;
  border-radius: 5px;
  background-color: #f6f8fa;
  overflow: auto;
  font-size: 0px;
  line-height: 0;
}
body {
  background-color: #39414E;
  font-family: Arial, sans-serif;
}
body.dark-mode {
  /* dark mode styles */
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
.back-btn{
  order: -1;
  font-size: 18px;
  padding: 10px 13px;
  border: none;
  background-color: #495466;
  color: #b7c1d1;
  cursor: pointer;
}
.title {
  font-size: 36px;
  color: white;
}
input[type=checkbox] {
  margin-top: 5px;
  float: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}
label{
  color: white;
  margin-right: 5px;
}
input[type=checkbox]:checked {
  background-color: #2196F3;
  border-color: #2196F3;
}
.login-btn{
  margin-left: auto;
  font-size: 18px;
  padding: 10px 13px;
  border: none;
  background-color: #495466;
  color: #b7c1d1;
  cursor: pointer;
}
.login-btn.dark-mode{
  color: white;
  background-color: #959595;
}
.prof-btn{
  margin-left: auto;
  font-size: 18px;
  padding: 10px 13px;
  border: none;
  background-color: #495466;
  color: #b7c1d1;
}
.prof-btn.dark-mode{
  color: white;
  background-color: #959595;
}
.burger-menu {
  order: 2;
  font-size: 18px;
  padding: 10px 13px;
  border: none;
  background-color: #495466;
  color: #b7c1d1;
  cursor: pointer;
}
.burger-menu.dark-mode{
  color: white;
  background-color: #959595;
}
.menu-options {
  text-align: center;
  position: absolute;
  top: 50px;
  right: 20px;
  display: none;
  background-color: #242931;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-options li {
  margin: 10px;
}

.menu-options a {
  color: #fff;
  text-decoration: none;
}
.menu-options.active {
  display: block;
}
.dropdown-content{
  padding: 15px;
  line-height: 1.9;
  display: none;
  background-color: #242931;
  border-radius: 6px;
}

.filter-dropdown-content{
  position: absolute;
  top: 480px;
  right: 550;
  padding: 15px;
  line-height: 1.9;
  display: none;
  background-color: #5b6980;
  border-radius: 6px;
}
.dropbtn:hover {
  text-decoration: underline;
}
.dropdown-content.show{
  display: block;
}
.filter-dropdown-content.show{
  display: block;
}
.search-container {
  display: flex;
  align-items: normal;
  justify-content: center;
  margin: 10px 0;
}
ul{
  text-align: left;
}
.items-container {
  background-color: #242931;
  line-height: 2;
  border-radius: 2px;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 0px 0;
  text-align: left;
}
.items-container.dark-mode{
  background-color: #959595;
}
.search-bar {
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.3);
  display: inline-block;
  flex-basis: 30%;
  font-size: 18px;
  padding: 10px;
  border: none;
  height: 50px;
  background-color: #242931;
  color: white;
  margin-bottom: 120px;
}
.search-bar-results{
  display: inline-block;
  flex-basis: 30%;
  font-size: 18px;
  width: 1000px;
  padding: 10px;
  margin-left: 450px;
  border: none;
  height: 50px;
  background-color: #242931;
  color: white;
}
h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
h2 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
h4 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
h1.dark-mode{
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
h4.dark-mode{
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.button-container {
  display: flex;
  align-items: center;
}
p{
  color:white;
}
a{
  font-size: 17px;
  text-decoration: none;
  color:white;
}
.button {
  border-radius: 8px;
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.3);
  background-color: #242931;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}
.button.dark-mode{
  background-color: #959595;
}
.filter-button {
  border-radius: 8px;
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.3);
  background-color: #4b5464;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}
.dropbtn{
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #b7c1d1
}
.button:hover {
  background-color: rgba(156, 156, 156, 0.832);
  cursor: pointer;
}

.button-webpage {
  border-right: 1px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-extension {
  border-left: 1px solid white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button-divider {
  background-color: #495466;
  height: 30px;
  margin: 0 10px;
  width: 1px;
}
.active-button {
  color: white;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-color: white;
}
#webpage-info,
#extension-info {
  margin-top: 20px;
}
.icon{
  width: 39px;
  margin-right: 19px;
  height: 45px;
}
.icon-2{
  width: 20px;
  margin-right: 10px;
  margin-top: 7px;
  height: 20px;
}
.icon-3{
  width: 26px;
  margin-right: 9px;
  height: 31px;
}
.search-icon-btn {
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.3);
  display: inline-block;
  width: 56px;
  border: none;
  height: 50px;
  font-size: 18px;
  background-color: #242931;
  cursor: pointer;
}

.lists-container {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  border-radius: 5px;
  text-align: left;
  width: 300px;
  color:white;
  padding: 20px;
  text-align: center;
  margin: 0 10px;
}

h3 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}


.search-heading {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

.search-para {
  color: white;
  margin: 1rem 0;
}

.search-left {
  flex-basis: 35%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.card {
  width: 60%;
  height: fit-content;
  margin: 1rem 0;
  color: white;
}

.top-heading {
  background-color: #29313c;
  padding: 1.2rem 1rem;
  font-size: 0.7rem !important;
  border-bottom: 1px solid white;
}

.card-content {
  background-color: #242931;
  padding: 0 1rem;
}

.card-list li {
  list-style-type: none;
  padding: 1rem 0;
  cursor: pointer;
}

.suggest-btn-container {
  width: 60%;
}

.suggest-btn {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #5b6980;
  color: white;
  padding: 1.2rem 1rem;
  width: 100%;
  border: none;
  cursor: pointer;
}

.main-content {
  flex-basis: 65%;
  padding: 0 1rem;
  color: white;
  margin-top: 1rem;
}

.main-content ul li {
  padding: 1rem;
  margin: 0.1rem 0;
  background-color: #242931;
}
.emote-list{
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.emotes{
  display: flex;
  align-items: center;
}
table {
  font-family: 'Lato', sans-serif;
  border-collapse: collapse;
  width: auto;
  margin-bottom: 20px;
}
th {
  color:white;
  background-color: #242931;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

td {
  color:white;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4b5464;
  border: 1px solid white;
  border-radius: 6px;
  padding: 20px;
  z-index: 999;
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.show-modal {
  visibility: visible !important;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

#submit-btn{
  width: 90%;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  background-color: rgb(38, 192, 244);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#submit-btn:disabled {
  width: 90%;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  background-color: lightgray;
  cursor: not-allowed;
}